 <p>
 <b>Title</b> : <%= route.title %>
 <br>
 <b>Sequence</b>: <%= route.sequence %>
<br>
<b> Place in this Route </b>
<br>
	<% array = route.places.order('"places_routes"."sequence"').all.each_with_index do |v,i| %>
		<%= i+1 %>. <%= v.title %> <br>
	<% end %>
</p>